* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

$color-primario: white;
$color-secundario: red;
$color-terciario: black;
$fuente-principal: Arial, Helvetica, sans-serif;