.imagen-indumentaria {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.imagen-2019-2020,
.imagen-2020-2023,
.imagen-2023 img {
    width: 100%;
    padding: 2%;

}

.imagen-2019-2020 img,
.imagen-2020-2023 img,
.imagen-2023 img {
    width: 100%;
    height: 100%;
    
}

@media (min-width:600px) {
    .imagen-indumentaria {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, minmax(900px, 1vh));
        
    }
}